<nav>
    <ul class="navigation">
        <a routerLink="">
            <li>Home</li>
        </a>
        <a href="#">
            <li>Contracts</li>
        </a>
        <a routerLink="waiting-list">
            <li>Waiting List</li>
        </a>
        <a routerLink="about">
            <li>About</li>
        </a>
        <a href="#">
          <li>Gallery</li>
        </a>
        <a routerLink="tips">
          <li>Tips</li>
        </a>
        <a href="#">
          <li>Other Services</li>
        </a>
    </ul>
</nav>