<!DOCTYPE html>
<html>
    <head>
        <title>Miya's Designer Pups</title>
        <link rel="stylesheet" href="app.component.css">
    </head>
    <body>
        <nav>
            <ul class="navigation">
                <a href="#">
                    <li>Home</li>
                </a>
                <a href="#">
                    <li>Contracts</li>
                </a>
                <a href="#">
                    <li>Waiting List</li>
                </a>
                <a href="#">
                    <li>About</li>
                </a>
                <a href="#">
                  <li>Gallery</li>
                </a>
                <a href="#">
                  <li>Tips</li>
                </a>
                <a href="#">
                  <li>Other Services</li>
                </a>
            </ul>
        </nav>
        <div class="carousel-container">
            <app-carousel [slides]="slides"></app-carousel>
        </div>
        <header>Miya's Designer Pups</header>
        <div class="brief-content">
            <article>
                <h2>What we're all about</h2>
            </article>
            <img src="" alt="">
        </div>
    </body>
</html>