.form{
    text-align: center;
    margin: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form-item{
    display: block;
    margin: 1rem;
}

.checkbox-item{
    width: 35vw;
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.form-item label{
    display: block;
    font-size: 20px;
}

.form-item input{
    margin: 5px;
    width: 35vw;
    text-align: center;
    padding: 10px;
    font-size: 1rem;
    border: 3px solid #5b0e2d;
    border-radius: 10px;
}

button{
    height: 5vh;
    width: 10vw;
    font-size: 1vw;
    background-color: #5b0e2d;
    color: white;
    border: 3px solid #b56082;
    border-radius: 10px;
}

@media screen and (max-width: 600px){
    button{
        width: 30vw;
        font-size: 3vw;
    }
    .form-item input{
        width: 80vw;
    }
    .checkbox-item{
        width: 80vw;
        font-size: 3vh;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}