<div class="carousel-container">
    <app-carousel [slides]="slides"></app-carousel>
</div>

<header>Miya's Designer Pups</header>
<hr>

<div class="our-story">
    <h1 class="our-story-title">Our Story</h1>
    <div class="our-story-content">
        <div class="our-story-text">
            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Urna molestie at elementum eu facilisis sed odio. Sed augue lacus viverra vitae
                congue eu consequat ac. Amet commodo nulla facilisi nullam vehicula ipsum a arcu. Pellentesque diam
                volutpat commodo sed egestas. Tincidunt eget nullam non nisi. Elit ullamcorper dignissim cras tincidunt
                lobortis feugiat vivamus at. Tellus mauris a diam maecenas sed enim ut sem viverra. Etiam sit amet nisl
                purus. Accumsan lacus vel facilisis vo</h3>
        </div>
        <div class="our-story-image">
            <img src="../assets/Grey-Poodle.jpg" alt="">
        </div>
    </div>
</div>