<div class="carousel-container">
    <app-carousel [slides]="slides"></app-carousel>
</div>

<header>Miya's Designer Pups</header>
<hr>

<div class="our-story">
    <h1 class="our-story-title">Our Story</h1>
    <div class="our-story-content">
        <div class="our-story-text">
            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Urna molestie at elementum eu facilisis sed odio. Sed augue lacus viverra vitae
                congue eu consequat ac. Amet commodo nulla facilisi nullam vehicula ipsum a arcu. Pellentesque diam
                volutpat commodo sed egestas. Tincidunt eget nullam non nisi. Elit ullamcorper dignissim cras tincidunt
                lobortis feugiat vivamus at. Tellus mauris a diam maecenas sed enim ut sem viverra. Etiam sit amet nisl
                purus. Accumsan lacus vel facilisis volutpat. Morbi tristique senectus et netus et malesuada fames ac
                turpis. Varius duis at consectetur lorem donec massa sapien faucibus.

                Mauris pharetra et ultrices neque ornare aenean euismod elementum. Tincidunt arcu non sodales neque
                sodales ut. Nisi scelerisque eu ultrices vitae auctor eu. Morbi tristique senectus et netus et
                malesuada. Tellus in hac habitasse platea dictumst vestibulum rhoncus. Vel turpis nunc eget lorem dolor.
                Egestas maecenas pharetra convallis posuere morbi leo. Iaculis urna id volutpat lacus laoreet non
                curabitur gravida. Consectetur adipiscing elit duis tristique sollicitudin nibh sit amet commodo. Augue
                lacus viverra vitae congue. Platea dictumst vestibulum rhoncus est pellentesque elit. Volutpat est velit
                egestas dui id. In tellus integer feugiat scelerisque varius morbi enim nunc faucibus. Vestibulum lectus
                mauris ultrices eros in. Ornare aenean euismod elementum nisi quis eleifend. Pretium nibh ipsum
                consequat nisl vel pretium lectus.

                Sit amet commodo nulla facilisi nullam. Phasellus vestibulum lorem sed risus ultricies tristique nulla.
                Scelerisque fermentum dui faucibus in ornare quam viverra orci sagittis. In metus vulputate eu
                scelerisque felis imperdiet. Quam elementum pulvinar etiam non quam. Sit amet luctus venenatis lectus
                magna fringilla. Tortor at auctor urna nunc id. Netus et malesuada fames ac turpis egestas sed tempus
                urna. Amet dictum sit amet justo donec enim. Ultrices vitae auctor eu augue ut lectus arcu bibendum at.
                Facilisi etiam dignissim diam quis enim.</h3>
        </div>
        <div class="our-story-image">
            <img src="../assets/Grey-Poodle.jpg" alt="">
        </div>
    </div>
</div>