<h1 class="header">Full Registration Contracts</h1>
<div class="contracts-container">
    <div class="contract">
        <h2>First Contract Name</h2>
        <div class="doc-container">
            <a href="../../assets/doc-1.pdf">
                <img src="../../assets/doc-1-pic.jpg" alt="">
            </a>
        </div>
        <p>Some Description of the contract</p>
    </div>
    <div class="contract">
        <h2>Second Contract Name</h2>
        <div class="doc-container">
            <a href="../../assets/doc-2.pdf">
                <img src="../../assets/doc-2-pic.jpg" alt="">
            </a>
        </div>
        <p>Some description of the contract</p>
    </div>
</div>